.breadcrumb {
  display: flex;
  padding: 0;
  li {
    list-style: none;
    margin-right: 10px;
    a {
      color: gray;
      font-size: 1rem;
      text-decoration: none;
      transition: text-decoration 0.3s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  li:last-child a {
    font-weight: 700;
  }
}
